NODE_ENV=development
PORT=4000
FRONTEND_URL=http://localhost:5173

## PostgreSQL local con compose.yaml
DB_HOST=localhost
DB_PORT=5432
DB_NAME=back_challenge
DB_USER=postgres
DB_PASSWORD=postgres

## Usa DATABASE_URL si quieres conectar desarrollo a Supabase
# DATABASE_URL=postgresql://postgres.project-ref:your-password@aws-0-region.pooler.supabase.com:5432/postgres
# DB_SSL=true
# DB_SSL_REJECT_UNAUTHORIZED=false

## Secret
ACCESS_TOKEN_SECRET=local_secret_change_me
